<div class="card m-3">
  <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="formSubmit()">
      <div class="form-row">
        <div class="form-group col-2">
          <label>Title</label>
          <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.title.errors }">
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && formControls.title.errors" class="invalid-feedback">
            <div *ngIf="formControls.title.errors.required">Title is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }" />
          <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback">
            <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group col-5">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }" />
          <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback">
            <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.userName.errors }" />
        <div *ngIf="submitted && formControls.userName.errors" class="invalid-feedback">
          <div *ngIf="formControls.userName.errors.required">User Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label>Mobile</label>
        <input type="text" [appOnlyNumber]="true" maxlength="10" formControlName="mobile" inputmode="numeric"
               class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.mobile.errors }" />
        <div *ngIf="submitted && formControls.mobile.errors" class="invalid-feedback">
          <div *ngIf="formControls.mobile.errors.required">Mobile is required</div>
          <div *ngIf="formControls.mobile.errors.minlength">Mobile Number Can't be less than 10 Digits</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" />
        <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
          <div *ngIf="formControls.email.errors.required">Email is required</div>
          <div *ngIf="formControls.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
          <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
            <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" />
          <div *ngIf="submitted && formControls.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="formControls.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="formControls.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
               [ngClass]="{ 'is-invalid': submitted && formControls.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
        <div *ngIf="submitted && formControls.acceptTerms.errors" class="invalid-feedback">Please accept terms & conditions</div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-sm mr-1">Register</button>
        <button class="btn btn-danger btn-sm" type="reset" (click)="formReset()">Reset</button>
      </div>
    </form>
  </div>
</div>
